
[openid]
  {% if gitea_openid.enable_openid_signin | default('') | string | length > 0 %}
ENABLE_OPENID_SIGNIN = {{ gitea_openid.enable_openid_signin | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if gitea_openid.enable_openid_signup | default('') | string | length > 0 %}
ENABLE_OPENID_SIGNUP = {{ gitea_openid.enable_openid_signup | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if gitea_openid.whitelisted_uris | count > 0 %}
WHITELISTED_URIS = {{ gitea_openid.whitelisted_uris | join(' ') }}
  {% endif %}
  {% if gitea_openid.blacklisted_uris | count > 0 %}
BLACKLISTED_URIS = {{ gitea_openid.blacklisted_uris | join(' ') }}
  {% endif %}
